@{
    ViewData["Title"] = "Intro";
}

<div class="text-center">
    <h1 class="display-4"><i class="bi bi-play-circle display-6"></i> Вступ до ASP.NET Core MVC</h1>
</div>

<h2>ASP</h2>
<p>
    <strong>ASP</strong> - Active Server Pages - фреймворк ASP.NET Core,
    призначений для створення веб-застосунків. Має декілька шаблонів:
    MVC, WebAPI, RazorPages тощо. MVC - найсучасніший та універсальний,
    такий що дозволяє реалізувати усі інші види застосунків.
</p>
<p>
    Серверна активність полягає у формуванні коду сторінки (HTML) повністю
    засобами сервера, від клієнтської частини вимагається лише відобразити
    цей HTML. Протиставляється підходу SPA (Single Page App) - за якого
    сторінка не перезавантажується, а переходи між "сторінками" імітуються
    змінами центрального віджету. Недолік ASP у повному перевантаженні, навіть
    коли область оновлення сторінки незначна. Область використання - сайти з
    значно відмінними сторінками, на кшталт сайтів документації (wiki).
    Область використання SPA - застосунки зі стійкою структурою, у яких оновлюється
    частина представлення, у т.ч. у спосіб дозавантаження (показати ще 20 елементів)
</p>

<h2>Принципи</h2>
<p>
    <strong>Маршрутизація</strong> - задається в <code>Program.cs</code>
    і за замовчанням має вигляд <code>/Controller/Action/Id?</code>
    Назва контролера визначає назву класу, що буде обслуговувати даний запит,
    Action - назва методу цього класу (термін "метод" залишається для HTTP-методів).
    Якщо контролер або Action не буде знайдено - виникає помилка 404
</p>
<p>
    <strong>Представлення</strong> - автоматично визначаються за назвою Action
    і шукаються у двох локаціях: директорії <code>Views/[Controller]</code>
    та <code>Views/Shared</code>. Якщо представлення не буде знайдено (при знайденому Action),
    то виникає внутрішня помилка і відображається сторінка Error
</p>
<p>
    <strong>Helpers</strong> (або Tag-Helpers) - засоби ASP для створення веб-компонентів
    з урахуванням конфігурації застосунку (локалізації, маршрутизації тощо). Наприклад,
    посилання<br />
    <code>&lt;a href="/Home/Intro">Вступ&lt;/a></code><br />
    завжди має задану адресу,  у той час як інша форма <br />
    <code> &lt;a asp-controller="Home" asp-action="Intro">Вступ&lt;/a></code><br />
    буде враховувати правила маршрутизації при побудові реального посилання. Зокрема,
    якщо шаблон зміниться на локалізований <code>/Locale/Controller/Action</code>, то
    перша форма стане неправильним посиланням, тоді як форма з Helper побудує змінене
    правильне посилання.
</p>
<p>
    <strong>Шаблонізація (Layouting)</strong> - усі сторінки сайту формуються через
    шаблон <code>/Views/Shared/_Layout.cshtml</code>, у якому задається оточення та
    команда <code>&commat;RenderBody()</code>, яка включає частинне представлення
    від контролера. Якщо є потреба змінити шаблон (для окремих сторінок) або
    відмовитись від нього, то слід зазначити команду <code>Layout = null;</code> на
    початку сторінки у кодовому блоці:
    <a asp-action="UnLayout">Сторінка без шаблона</a><br />
    Також шаблон дозволяє підключити ресурси, що можуть вживатись на усіх сторінках
    (які формуються з шаблоном), зокрема, іконки та стильові чи скриптові бібліотеки.
</p>

@*
    Реалізувати наповнення сторінки Privacy
    Використати засоби розмітки та стилізації
    Додати скріншот результату
*@