@{
    ViewData["Title"] = "Політика конфіденційності";
}

<h1>@ViewData["Title"]</h1>

<p>Ця сторінка містить інформацію про те, як ми обробляємо ваші дані.</p>

<div style="margin-top: 20px;">
    <h3>1. Реєстрація та авторизація</h3>
    <p>Для створення облікового запису ми зберігаємо ваші реєстраційні дані. Ваші паролі надійно хешуються, а для безпечного входу використовуються спеціальні токени.</p>

    <h3>2. Збереження даних</h3>
    <p>Ми гарантуємо безпеку вашої особистої інформації та не передаємо її стороннім особам.</p>

    <h3>3. Ваші права</h3>
    <ul>
        <li>Ви можете переглядати свої дані.</li>
        <li>Ви можете змінити або видалити свій обліковий запис.</li>
    </ul>
</div>